@charset "UTF-8";
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box; }

@media screen and (max-width: 768px) {
  .fondoIndex .quienesSomos {
    color: red; }
  .fondoIndex .gridPadre {
    display: flex;
    flex-direction: column; } }

@media screen and (max-width: 576px) {
  .fondoIndex .quienesSomos {
    color: black; }
  .fondoIndex .gridPadre {
    display: flex;
    flex-direction: column; } }

@media screen and (max-width: 576px) {
  .videoLanzamiento {
    width: 350px;
    height: 315px; } }

/*--footer index--*/
@media screen and (max-width: 768px) {
  .mapa {
    display: none; } }

@media screen and (max-width: 576px) {
  .mapa {
    display: none; } }

/*--footer hombre--*/
@media screen and (max-width: 768px) {
  .gridFooter {
    display: none; } }

@media screen and (max-width: 576px) {
  .formasPago {
    display: none; } }

/*--mujer--*/
@media screen and (max-width: 768px) {
  .lanzamientoM .videoM .videoMujer {
    width: auto;
    height: auto; } }

@media screen and (max-width: 576px) {
  .videoM .videoMujer {
    width: auto;
    height: auto;
    margin-left: none; } }

/**--Niños--*/
@media screen and (max-width: 576px) {
  .mainNinos .productosVenta {
    margin-left: 50px; } }

.footerIndex {
  background-color: #fbfbd7; }
  .footerIndex .pagos {
    font-size: 20px;
    text-align: center; }
  .footerIndex .formulario {
    border-top: solid 3px #8d949c;
    border-right: solid 3px #8d949c;
    border-bottom: solid 3px #8d949c;
    border-left: solid 3px #8d949c; }
  .footerIndex .footerContacto {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; }
  .footerIndex .wath:hover {
    transform: translateY(50px); }
  .footerIndex .ig:hover {
    transform: translateY(50px); }
  .footerIndex .fb:hover {
    transform: translateY(50px); }

/*--footer hombre--*/
.footerHombre {
  background-color: #fbfbd7; }
  .footerHombre .gridFooter {
    display: grid;
    grid-template-areas: "formulario contacto"; }
  .footerHombre .formasPago {
    margin-top: 40px;
    grid-area: formulario;
    color: blue;
    margin-left: 100px; }
  .footerHombre .contacto {
    margin-top: 40px;
    grid-area: contacto; }

/*--mujer--*/
.footerMujer {
  background-color: #fbfbd7; }

.pagoMujer {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center; }

.footerContacto {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; }

.wath:hover {
  transform: translateY(50px); }

.ig:hover {
  transform: translateY(50px); }

.fb:hover {
  transform: translateY(50px); }

/*--Niños--*/
.footerNinos {
  background-color: #fbfbd7; }
  .footerNinos .comunicate {
    color: blue;
    font-size: 25px;
    text-align: center;
    font-style: oblique; }
  .footerNinos .contactoNinos {
    display: flex;
    flex-direction: row;
    justify-content: center; }

/*--mayorista--*/
.footerMayorista {
  background-color: #fbfbd7;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; }
  .footerMayorista .pagoMayorista {
    margin-top: 20px;
    color: blue;
    font-size: 15px;
    font-style: italic;
    display: flex;
    flex-direction: row; }

/*--Hombre--*/
.mainHombre {
  background-color: #f1e8e8; }
  .mainHombre h4 {
    text-align: center;
    font-style: oblique;
    font-family: initial; }
  .mainHombre .accordion-button {
    color: black;
    font-style: oblique;
    font-size: 20px; }
  .mainHombre .accordion-body {
    font-size: 15px;
    font-style: italic; }

.mainMujer {
  background-color: #f1e8e8; }
  .mainMujer .quienesSomos {
    color: blue;
    margin-top: 10px;
    font-size: 25px;
    text-align: center;
    font-style: oblique; }
  .mainMujer .navegador {
    font-style: italic !important; }
  .mainMujer .mujer {
    font-style: italic; }
  .mainMujer .lanzamientoMujer {
    color: blue;
    font-size: 40px;
    text-align-last: center; }
  .mainMujer .videoM {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
    width: 100%; }

.productos {
  font-size: 40px;
  color: blue;
  text-align: center; }

.mainNinos {
  background-color: #f1e8e8; }
  .mainNinos .gridNinos {
    display: grid;
    grid-template-areas: "productos  nosotros";
    grid-template-columns: 3fr 2fr;
    justify-items: start;
    justify-content: start; }
  .mainNinos .nosotrosNinos {
    grid-area: nosotros;
    margin-right: 50px;
    margin-top: 30px;
    font-size: 25px;
    font-style: oblique; }
  .mainNinos .productosVenta {
    grid-area: productos;
    margin-left: 100px;
    margin-top: 20px; }
    .mainNinos .productosVenta ul {
      font-size: 20px;
      font-style: italic; }
      .mainNinos .productosVenta ul li {
        font-size: 20px;
        font-style: oblique; }
  .mainNinos section .nosotrosNinos {
    color: black;
    text-align: center;
    font-style: italic;
    font-size: 25px; }
  .mainNinos section p {
    color: blue;
    text-align: center;
    font-style: italic;
    font-size: 25px; }

.mainMayorista {
  background-color: #f1e8e8; }
  .mainMayorista .mayorista {
    font-family: inherit;
    font-style: oblique;
    text-align: center;
    color: blue;
    font-size: 20px; }
  .mainMayorista .beneficioMayorista {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; }
    .mainMayorista .beneficioMayorista .card-text {
      font-style: oblique; }
  .mainMayorista section .card-text {
    font-style: oblique; }
  .mainMayorista .preguntasFrecuentes {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 40px; }
    .mainMayorista .preguntasFrecuentes .respuesta {
      color: black; }
    .mainMayorista .preguntasFrecuentes h5 {
      font-style: italic; }
    .mainMayorista .preguntasFrecuentes h6 {
      font-style: italic; }

.mayorista {
  flex-direction: column;
  justify-content: center; }
  .mayorista .contactoMayorista {
    color: blue; }
  .mayorista .formularioMayorista {
    margin-left: 50px; }
  .mayorista .venta {
    display: flex;
    flex-direction: column;
    justify-content: start; }
    .mayorista .venta .opcionDeVenta {
      font-size: 25px;
      font-family: inherit;
      font-style: oblique;
      color: blue;
      margin-top: 50px; }

header {
  background-color: black; }
  header .nav-link {
    font-style: oblique;
    font-size: 20px;
    color: blue !important; }

main {
  background-color: #f1e8e8; }
  main .quienesSomos {
    color: black;
    font-style: italic;
    font-size: 120%;
    text-align: center;
    padding: 50px; }
  main .gridPadre {
    display: grid;
    grid-template-areas: "nosotros video"; }
  main .quienesSomos {
    grid-area: nosotros; }
  main .video {
    grid-area: video; }
  main .tituloRojo {
    color: black;
    font-style: italic;
    font-size: 25px;
    text-align: center; }
  main h2 {
    color: #5858eb;
    text-align: center; }
    main h2:hover {
      animation-duration: 2s;
      animation-name: aparecer; }

@keyframes aparecer {
  0% {
    opacity: 0; } }
