.mainMayorista{
    background-color: $color-principal;
    .mayorista{
        font-family: inherit;
        font-style: oblique;
        text-align: center;
        color: blue;
        font-size: 20px;
        }
    .beneficioMayorista{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        }
    .preguntasFrecuentes{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-top: 40px;
        .respuesta{color: black;}
    }    
        }
       .mayorista{
            flex-direction: column;
                justify-content: center;
            .contactoMayorista{
                color: blue;
           
        }
        .formularioMayorista{
            margin-left: 50px;
        }
        .venta{
            display: flex;
            flex-direction: column;
            justify-content: start;
            .opcionDeVenta{
                font-size: 25px;
                font-family: inherit;
                font-style: oblique;
                color: blue;
                margin-top: 50px;
            }
        }
       }


