/*--Hombre--*/
.mainHombre{
    background-color:rgb(241, 232, 232);
    h4{
        text-align: center;
        font-style: oblique;
        font-family: initial;
    }
    .accordion-button{
        color: black;
        font-style:oblique;
        font-size: 20px;
    }
    .accordion-body{
        font-size: 15px;
        font-style: italic; 
    }
}

