.mainMujer{
    background-color:rgb(241, 232, 232);
    .quienesSomos{
        color: blue;
        margin-top: 10px;
        font-size: 25px;
        text-align: center;
        font-style: oblique;
    }
    
    .lanzamientoMujer{
        color: blue;
        font-size: 40px;
        text-align-last: center
        ;
    }
    .videoM{
      
           display: flex;
        flex-direction: row;
        justify-content: center;
        }
}
.productos{
    font-size: 40px;
    color: blue;
    text-align: center;
}
